html, body {
    overflow-x: hidden
}

img {
    max-width: 90vw;
    margin: 0 auto;
}

canvas {
    background: #eee;
    display: block;
    margin: 0 auto;
    border: 5px double black;
    padding: 1px;
    margin-bottom: 1%;
    margin-top: 2%;
    width: 75%;
}

@media only screen and (min-width: 768px) {
    canvas {
        width: 40%;
    }
}

section {
    margin-bottom: 2%;
}

#ref-links {
    display: flex;
    flex-direction: column;
}