canvas {
    background: #eee;
    display: block;
    margin: 0 auto;
    border: 5px double black;
    padding: 1px;
    margin-bottom: 1%;
    margin-top: 2%;
}

section {
    margin-bottom: 2%;
}

#ref-links {
    display: flex;
    flex-direction: column;
}